@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  background: #2C3639;
  color: #EDEDED;
}

.container {
  user-select: none;
}

.title {
  text-align: center;
  font-size: 4em;
  font-weight: 900;
  margin: .2em 0;
}

form {
  max-width: 500px;
  margin: 1em auto;
  padding: 1.5em;
  border-radius: 7px;
  border: 1px solid black;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.808);
  display: flex;
  flex-direction: column;
  /* gap: 1.5em; */
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  flex: 1;
  background: #FFFFFF;
  border: 2px solid black;
  outline: none;
  margin: 10px 0;
}

input[type="password"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
  border-color: #F73D93;
}

select {
  cursor: pointer;
}

.radio-group {
  margin: .5em 0;
  font-size: 1em;
}

.radio-group>label {
  display: flex;
  gap: .5em;
}

.radio-group>label,
.radio-group>label>input {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: #F73D93;
}

form>div {
  display: flex;
  gap: 1em;
  align-items: center;
}

form>div>label {
  font-weight: bold;
}

form>label {
  display: flex;
  align-items: center;
  gap: .5em;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  width: fit-content;
  margin: 1em 0;
}

form>button {
  cursor: pointer;
  padding: 12px;
  border-radius: 5px;
  background-color: #F73D93;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  font-size: 1em;
  transition: all .2s ease;
}

form>button:hover {
  opacity: 0.8;
}

form>button:active {
  transform: scale(.98);
}

.error {
  color: #E94560;
  font-weight: bold;
  display: block;
  text-align: right;
}